:root {
    --mercury: #E5E5E5;
    --orange: #FF5D24;
    --grey: #F7F7F7;
    --fight: #dfdfdf73;
    --grey1: #EFEFEF;
    --white: #ffffff;
}

body {
    background-color: var(--grey);
}

* {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--mercury);
    width: 100%;
    height: 117px;
}

.text {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 106px;
}

.text1 {
    color: rgba(48, 48, 48, 1);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#text1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--mercury);
    width: 100%;
    height: 117px;
}

.donate {
    width: 150px;
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--orange);
    border-radius: 5px;
    color: #fff;
    margin-right: 20px;
    border: 1px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.text2 {
    margin-left: 106px;
    font-size: 65px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.color {
    color: var(--orange);
}

.boy {
    width: 1500px;
    height: 960px;
    margin-left: 106px;
    margin-top:15px;
    border-radius: 150px;
}

.span {
    display: flex;
    align-items: center;
}

.text3 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#smiley {
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 314px;
    height: 360px;
    border-radius: 30px;
    margin-left: 1430px;
}

.smiley {
    margin: 17px 21px 0 27px;
    border-radius: 30px;
}

.username {
    font-size: 24px;
    color: var(--orange);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-left: 33px;
}

.color1 {
    color: var(--orange);
    font-size: 50px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-left: 150px;
}

#Vector {
    background-color: rgba(86, 185, 180, 0.84);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-left: 127px;
}

.Vector {
    margin: 27px;
    margin-left: 22px;
}

.investment {
    margin-left: 27px;
    border-radius: 30px;
    margin: 17px 21px 0 27px;
}

#investment {
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 314px;
    height: 360px;
    margin: 28px 53px -275px 154px;
    border-radius: 30px;
}

#Vector1 {
    font-weight: bolder;
    font-size: 17px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    color: var(--orange);
}

.Vector1 {
    margin: 27px;
    margin-left: 22px;
}

#point {
    display: block;
    width: 113px;
    margin-left: 110px;
    height: 113px;
}

.point {
    height: 10px;
}

.here {
    margin-left: 1626px;
}

#result {
    display: flex;
    margin: -247px 423px 287px;
}

.number {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-left: 150px;
}

.text5 {
    font-size: 16px;
    color: rgb(74 73 73);
    font-family: 'Montserrat', sans-serif;
}

.I {
    border: 1px solid #000;
    height: 49px;
    margin-left: 35px;
}

#support {
    margin-left: 106px;
    display:flex;
}

.child {
    width: 782px;
    height: 671px;
    margin-left: -10px;
    border-radius: 40px;
}

.fight {
    background: var(--fight);
    width: 825px;
    height: 278px;
    margin: -257px 42px -57px -31px;
    border-radius: 0 0 40px 40px
}

.botton {
    color: var(--orange);
    text-decoration: none;
    border:1px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 10px;
}

#botton {
    margin: 0 -139px -58px 27px;
}

.text6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 50px;

}

.text7 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 21px;
    margin-top:50px;
}
.block4{
    margin-top: 100px;
}
#Learn {
    background: var(--orange);
    color: #fff;
    width: 160px;
    border: 1px;
    height: 45px;
    text-align: center;
    margin-top: 150px;
    margin-left: 100px;
}

.Learn {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}
.et{
    display: flex;
    align-items:baseline;
    justify-content: space-around;
}
.text8 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 50px;
    margin-left: 106px;
    margin-top: 116px;
}

.stroke {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #939393;
}

#stroke {
    display: flex;
    align-items: center;
}

.text9 {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 600;
    margin: 0 28px 0 28px
}

.help {
    display: flex;
    justify-content: space-around;
    margin-left: 106px;
    margin-top: 100px;
}

#block {
    width: 390px;
    height: 485px;
    background-color: #fff;
    border-radius: 20px;
}
.icon {
    width: 84px;
    height: 84px;
    background-color: var(--orange);
    border-radius: 20px;
    margin: 35px;
}
.icons{
    margin-top: 17px;
    margin-left: 24px;
}
.icon1 {
    width: 84px;
    height: 84px;
    background-color: #91b500;
    border-radius: 20px;
    margin: 35px;
}


.icon3{
    width: 84px;
    height: 84px;
    background-color:#ff0e3b;
    border-radius: 20px;
    margin: 35px;
}
.text10 {
    font-size: 32px;
    margin-left: 48px;
    font-family: 'Montserrat', sans-serif;
    color: #464646;
    font-weight: bolder;
}

.text11 {
    margin-left: 31px;
    font-size: 18px;
    color: rgba(37, 37, 37, 1);
    font-family: 'Montserrat', sans-serif;
    margin-top: 45px;
}

.ds{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: rgba(37, 37, 37, 1);
    justify-content: end;
    font-family: 'Montserrat', sans-serif;
    margin-top: 90px;
}
.fs{
    width:40px;
    margin-top: 10px;
}
.next {
    margin-left: -6px;
    width: 7px;
    height: 10px;
}
.children{
    margin: 106px
}
#next {
    margin-left: 49px;
    color: #323232;
    font-family: 'Montserrat', sans-serif;
}

.dash {
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
}

.text12 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin-left: -120px;
}

#botton1 {
    background: var(--mercury);
    width: 142px;
    height: 39px;
    margin-left: 106px;
}

.text13 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 21px;
    margin-left: 20px;
    line-height: 30px;
}

.img {
    width: 675px;
    margin-left: 960px;
    border-radius: 50% 50% 0 0;
    height: 613px;
    margin: -691px 0 41px 960px;
}

#Learn1 {
    background: var(--orange);
    color: #fff;
    width: 160px;
    height: 45px;
    margin-left: 105px;
    text-align: center;
}

.block3 {
    width: 725px;
    height: 307px;
    background-color: var(--fight);
    margin-left: 934px;
    border-radius: 130px 130px 0 0;
}
.vol{
    display: flex;
    align-items: flex-end;
}

.text14 {
    display: flex;
    font-size: 59px;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.block01 {
    background-color: var(--grey);
    width: 369px;
    height: 650px;
    border: 1px solid #d1d1d1;
    display: flex;
    border-radius: 20px;
}

.seth {
    border-radius: 20px;
    width: 333px;
    height: 251px;
    margin: 19px;
}

.hob {
    font-family: 'Montserrat', sans-serif;
    color: var(--orange);
    font-size: 16px;
    font-weight: 600;
}

.hob1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 600;
    margin-top: 10px;
}

.hob2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #00000073;
    margin-top: 10px;
}
.g{
    margin: 284px 0 0 -351px;
}
.hob4 {
    padding: 12px;
    width: 115px;
    height: 38px;
    background: var(--orange);
    border: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border-radius: 14px;
    color: #FFFFFF;
    transition: background-color .5s;;
}

.hob4:hover {
    cursor: pointer;
    background: #ec0b0b;
}

.price-input{
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    border: 1px solid var(--orange);
}

.Block {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

}

hr {
    color: black;
    width: 100%;
    height: 2px;
    background-color: var(--fight);
    margin-top: 35px;
}

.texf {
    display: flex;
    justify-content: end;
    font-size: 20px;
    margin: 35px 42px;
    font-family: 'Montserrat', sans-serif;
    color: #4a4a4a;
}

.footer {
    width: 100%;
    height: 95px;
}
.yaer{
    display: flex;
    justify-content: end;
    font-size: 17px;
    margin: -25px 124px;
    font-family: 'Montserrat', sans-serif;
    color: #4a4a4a;
}